{% extends "base.html" %}

{% block Main_Web_Header_Title %} {{ block.super }} | Educational Demonstrations {% endblock %}

{% block breadcrumb %}
    {{ block.super }} > {{ demo.name }}
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-3 hidden-sm hidden-xs">
            <ul class="quicklinks nav nav-stacked" data-spy="affix" data-offset-top="260">
                {% for demo in demo_list %}
                    <li><a href=#{{ demo.pk }}> {{ demo.name }}</a></li>
                {% endfor %}

            </ul>
        </div>
<div class="col-lg-9">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header"><h2>Educational Demonstrations</h2></div>



                    {% for demo in demo_list %}
                        <div class="panel panel-default" id="{{ demo.pk }}">
                            <div class="panel-heading"><h3>{{ demo.name }}</h3></div>
                            <div class="panel-body">

                                {% if demo.video_link %}
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embded-responsive-item" src="https://youtube.com/embed/{{ demo.video_link }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
                                    </div>
                                    <p></p>
                                {% endif %}
                                {% if demo.image %}
                                <img class='img-responsive' src="{{ demo.image.url }}" alt="Picture of {{ demo.name }} demo">
                                {% endif %}
                                <p style="padding-top: 10px;">
                                    {{ demo.description }}
                                </p>

                                {%  if demo.form_link %}
                                    <a href="{{ demo.form_link }}" target="_blank" class="btn btn-primary">Request This Demo</a>


                                {% endif %}


                            </div>

                        </div>
                        <hr>
                    {% endfor %}


                </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}

