{% extends "base.html" %}
{% load staticfiles %}
{% block Main_Web_Header_Title %} {{block.super}} | Graduate Student Alumni{% endblock%}

{% block breadcrumb %}
    {{block.super}}
    <li><a href="/alumni/">Earth and Space Sciences Alumni</a></li>
    <li>Where are they now?</li>
{% endblock%}

{% block page_title %}
        <h2>Graduate Student Alumni - Where are they now?</h2>
{% endblock %}

{% block extra_header %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/bootstrap-table.min.css">
<link rel="stylesheet" href="{% static "/css/extra.css" %}"  >
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/bootstrap-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/locale/bootstrap-table-zh-CN.min.js"></script>
{% endblock %}

{% block content %}
<div id="alumni" class="content-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
            <h3>Alumni of UCLA's graduate program in Earth, Planetary, and Space Sciences</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>As of today, the professional outcomes of {{ alumni_total_count }} alumni of UCLA's EPSS graduate program included:</p>

            <ul>
                <li> {{ professor_count }} university professors</li>
                <li> {{ researcher_count}} research or staff scientists</li>
                <li> {{ nasa_count }} employed at NASA</li>
                <li> {{ postdoc_count}} postdocs</li>
                <li> {{ lecturer_count}} lecturers</li>
                <li> {{ instructor_count}} instructors</li>
                <li> {{ phd_count }} PhD students</li>
                <li>a variety of interesting positions in the private sector or in public service</li>
            
            </ul>
            <div class="">
                <table
                    class="table table-responsive table-striped table-condensed"
                    data-toggle="table"
                    data-sort-name="year"
                    data-sort-order="desc"
                >
                    <thead>
                    <tr>
                        <th data-field="year" data-sortable="true">Year</th>
                        <th data-field="degree" data-sortable="true">Degree</th>
                        <th data-field="fname" data-sortable="true">First Name</th>
                        <th data-field="lname" data-sortable="true">Last Name</th>
                        <th data-field="thesis" data-sortable="true">Thesis Title</th>
                        <th data-field="position" data-sortable="true">Position</th>
                        <th data-field="institution" data-sortable="true">Institution</th>
                        <th data-field="advisor" data-sortable="true">Advisor</th>
                    </tr>
                    </thead>

                    {% for person in alumni_list %}
                    <tr>
                        <td>{{person.year_graduated}}</td>
                        <td>{{person.degree}}</td>
                        <td>{{person.first_name}}</td>
                        <td>{{person.last_name}}</td>
                        <td>{{person.thesis}}</td>
                        <td>{{person.title}}</td>
                        <td>{{person.institution}}</td>
                        <td>{{person.advisor}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
