{% extends "base.html" %}
{% load staticfiles %}
{% block extra_header %}
    <link rel="stylesheet" href="{% static "/main/css/bootstrap/directory.css" %}" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
            <ul class="quicklinks nav nav-stacked" data-spy="affix" data-offset-top="260">
                <li><a href="/people/faculty/">Faculty</a></li>
                <li><a href="/people/faculty/#emeritus">Faculty - Emeritus</a></li>
                <li><a href="/people/researchers/">Researchers</a></li>
                <li><a href="/people/postdocs/">Postdocs</a></li>
                <li><a href="/people/students/">Students</a></li>
                <li><a href="/people/staff/">Staff</a></li>

            </ul>
        </div>


        <div id="directory" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header">
                            {% block page_header %}{% endblock %}
                        </div>
                    </div>
                </div>
                {% block directory_loop %}
                    <div class="row">
                        {% for person in object_list %}

                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 directory-entry">
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                                    <a href="{{ person.id }}">
                                        {% if person.thumbnail_image %}
                                            <div class="img-wrapper">

                                                <img alt="headshot of {{ person.first_name }} {{ person.last_name }} thumbnail"
                                                     class="img" src="{{ person.thumbnail_image.url }}"/>
                                            </div>
                                        {% else %}
                                            <div class="img-wrapper">
                                                <img alt="default image" class="img img-responsive"
                                                     src="https://epss.ucla.edu/media/images/profile_pictures/default.jpg"
                                                     alt="default directory image placeholder"/>
                                            </div>
                                        {% endif %}
                                    </a>

                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                                    <h4>
                                        <a href="{{ person.id }}">{{ person.first_name }} {{ person.last_name }}</a>
                                    </h4>

                                    <p>
                                        {{ person.title }} <br>

                                        {% if person.email %}
                                            <span class="hidden-xs hidden-sm">Email: <a
                                                    href="mailto:{{ person.email }}">{{ person.email }}</a><br></span>
                                        {% endif %}
                                        {% if person.researcharea_set.all %}
                                            <span class="hidden-xs">Research Areas:
                                                <ul>
                                                    {% for area in person.researcharea_set.all %}
                                                        <li>
                                                            <a href="{% url "research-area-detail" area.slug %}">{{ area.name }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul></span>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endblock %}
            </div>
        </div>

    </div>
{% endblock %}