{% extends "base.html" %}

{% block Main_Web_Header_Title %} {{block.super}} | Course Websites - {{quarter.get_season_display}} {{quarter.year}} {% endblock%}

{% block breadcrumb %}
    {{block.super}} > Course Websites - {{quarter.get_season_display}} {{quarter.year}} 
{% endblock%}

{% block content %}
<div class="content-wrapper">
    
    <div class="page-header">
        <h2>Course Websites - {{quarter.get_season_display}} {{quarter.year}} </h2>
    </div>
    
   	<table class="table table-bordered table-striped table-hover" cellspacing="1" cellpadding="0" border="0">
        <tr>
            <th>No.</th>
            <th>Course Title</th>
            <th>Instructor</th>
        </tr>
        {% for course in object_list %}
        {% comment %}

        {% endcomment %}
        <tr>
            <td><a href="{% url 'course-detail' course.quarter.slug course.slug %}">EPSS {{course.course_number}}</a></td>
            <td><a href="{% url 'course-detail' course.quarter.slug course.slug %}">{{course.title}}</a></td>
            <td>
                {% for instructor in course.instructor_set.all%}
                {% if forloop.last %}
            	<a class="extra" href="{% url "faculty-detail" instructor.person.id %}">
					{{instructor.person.full_name}}</a>
				{% else %}
				    <a class="extra" href="{% url "faculty-detail" instructor.person.id %}">
					{{instructor.person.full_name}}</a><br>
				{% endif %}
				{% endfor %}
        	</td>
		</tr>
         {% endfor %}
	</table>
</div>
        
{% endblock %}