{% extends "base.html" %}

{% block Main_Web_Header_Title %} {{block.super}} | Course Websites ({{object.quarter.get_season_display}} {{object.quarter.year}}) - ESS {{object.course_number}}{% endblock%}

{% block breadcrumb %}
{{block.super}} > <a href="/courses/">Course Websites ({{object.quarter.get_season_display}}
    {{object.quarter.year}})</a> > ESS {{object.course_number}}
{% endblock%}

{% block content %}
<div class="content-wrapper courses">
    <div class="page-header">
        <h2>Course Websites ({{object.quarter.get_season_display}} {{object.quarter.year}}) - EPSS
            {{object.course_number}}</h2>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <table class="table table-bordered">
                <tr>
                    <th>Title</th>
                    <td>{{object.title}}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{object.description}}</td>
                </tr>
                <tr>
                    <th>Units</th>
                    <td>{{object.units}} units</td>
                </tr>
                {% if object.restrictions %}
                <tr>
                    <th>Restrictions</th>
                    <td>{{object.restrictions}}</td>
                    {% endif %}
                <tr>
                    <th>Course Days</th>
                    <td>
                        {% for day in object.days %}
                        {% if day == "1" %}Monday {% endif %}
                        {% if day == "2" %}Tuesday {% endif %}
                        {% if day == "3" %}Wednesday {% endif %}
                        {% if day == "4" %}Thursday {% endif %}
                        {% if day == "5" %}Friday {% endif %}
                        {% if day == "6" %}Saturday {% endif %}
                        {% if day == "7" %}Sunday {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td>{{object.time_start|time:"g:i A"}} - {{object.time_end|time:"g:i A"}}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{object.location}}</td>
                </tr>
                <tr>
                    <th>Level</th>
                    <td>
                        {{object.get_level_display}}
                    </td>
                </tr>
                <tr>
                    <th>Course ID</th>
                    <td>{{object.course_id}}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>
                        {{object.get_course_type_display}}
                    </td>
                </tr>
                {% if object.outside_link %}
                <tr>
                    <th>Class Website</th>
                    <td><a href="{{object.outside_link}}" target="_blank">{{object.outside_link}}</a></td>
                </tr>
                {% endif%}
            </table>
        </div>

        <div class="col-lg-6 col-md-6">
            {% if object.instructor_set.all%}
            {% for instructor in object.instructor_set.all %}
            <table class="table table-bordered">
                <tr>
                    <th>Instructor</th>
                    <td><a href="{% url 'faculty-detail' instructor.person.id%}">
                        {{instructor.person.full_name}}</a>
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><a href="mailto:{{object.instructor.person.email}}">{{instructor.person.email}}</a></td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{instructor.person.phone_number}}</td>
                </tr>
                {% if instructor.office_hours %}
                <tr>
                    <th>Office Hours</th>
                    <td>{{instructor.office_hours}}</td>
                </tr>
                {% endif %}
                {% if instructor.office_hours_location %}
                <tr>
                    <th>Location</th>
                    <td>{{instructor.office_hours_location}}</td>
                </tr>
                {% endif %}

            </table>
            {% endfor %}
            {% endif %}

{#            {% if object.ta_set.all%}#}
{#            {% for TA in object.ta_set.all %}#}
{#            <table class="table table-bordered">#}
{#                <tr>#}
{#                    <th>Teaching Assistant</th>#}
{#                    <td>#}
{#                        <a href="{% url 'student-detail' TA.person.id%}">#}
{#                            {{TA.person.full_name}}</a>#}
{#                    </td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th>Email</th>#}
{#                    <td><a href="mailto:{{TA.person.email}}">{{TA.person.email}}</a></td>#}
{#                    {% if TA.office_hours %}#}
{#                <tr>#}
{#                    <th>Office Hours</th>#}
{#                    <td>{{TA.office_hours}}</td>#}
{#                </tr>#}
{#                {% endif %}#}
{#                {% if TA.office_hours_location %}#}
{#                <tr>#}
{#                    <th>Location</th>#}
{#                    <td>{{TA.office_hours_location}}</td>#}
{#                </tr>#}
{#                {% endif %}#}
{#            </table>#}
{#            {% endfor %}#}
{#            {% endif %}#}
        </div>
    </div>

    {% if object.syllabus and object.syllabus != "<br>"%}
    <div id="course_bottom">
        <h2>Syllabus</h2>
        <p>{{object.syllabus}}</p>
    </div><!-- #course_bottom-->
    {% endif %}
</div>
{% endblock %}