{% extends "base.html" %}

{% block Main_Web_Header_Title %} {{block.super}} | News - {{object.title|truncatewords:4}} {% endblock%}

{% block breadcrumb %}
    {{block.super}} > <a href="/news/">News</a> > {{object.title|truncatewords:4}}
{% endblock%}


{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-9 border-right">
	        <div class="page-header">
	            <h3>Events</h3>
	        </div>
	        <div class="panel panel-default">
				<div class="panel-heading no-padding">
					<h2 class="no-padding no-uppercase">{{object.title}}</h2>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<p><b>Date:</b> {{object.date}}</p>
							<p><b>Time:</b> {{object.time_start}}</p>
							<p><b>Location:</b> {{object.location}}</p>
						</div>
					</div>
					{% if object.picture %}
						<p><img class="img-responsive" src="https://placehold.it/350x350"/></p>
					{% endif %}
						{{object.description}}
				</div>
			</div>
		</div>
		<div class="col-lg-3">
            <div class="page-header"><h3>Featured Events</h3></div>
            <div class="row">
            	<div class="col-xs-12">

	        	</div>
	        </div>
        </div>
	</div>
</div>
{% endblock %}