{% extends "base.html" %}

{% block Main_Web_Header_Title %} {{block.super}} | Seminars {% endblock%}

{% block breadcrumb %}
    {{block.super}} > Seminars
{% endblock%}

{% block page_title %}

{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h2>{{  view.kwargs.category }} - Archives</h2>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Current and Upcoming Quarters</h4>
        </div>
        <div class="panel-body">
            <p style="margin-left:20px;font-size:1.286em;">
            {% for quarter in quarter_list %}
                {% if not quarter.is_archive %}
                    <a href="/seminars/{{ view.kwargs.category }}/{{quarter.slug }}/">{{quarter.get_season_display}} {{quarter.year}}</a><br>
                {% endif %}
            {% endfor %}
            </p>
        </div>
    </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Archived Quarters</h4>
            </div>
            <div class="panel-body">
                <p style="margin-left:20px;font-size:1.286em;">
                {% for quarter in quarter_list %}
                    {% if quarter.is_archive %}
                    <a href="/seminars/{{ view.kwargs.category }}/{{quarter.slug}}/">{{quarter.get_season_display}} {{quarter.year}}</a><br>

                    {% endif %}
                {% endfor %}
                </p>
            </div>
        </div>
    </div>
{% endblock%}
