{#{% extends "base.html" %}#}
{##}
{#{% block Main_Web_Header_Title %}#}
{#    {{ block.super }} | {{ object.quarter }} | Seminars - ESS {{ object.course_number }} {{ object.title }}#}
{#{% endblock %}#}
{##}
{#{% block breadcrumb %}#}
{#    {{ block.super }} > <a href="/seminars/">Seminars</a> >#}
{#    <a href="/seminars/{{ object.quarter.slug }}/">{{ object.quarter }}</a> > {{ object.title }}#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="content-wrapper">#}
{#        <div id="main_seminar">#}
{#            <div class="page-header">#}
{#                <h2>Epss {{ object.course_number }} - {{ object.title }} ({{ object.quarter }})</h2>#}
{#            </div>#}
            {#        <p>{{object.description}}</p>#}
{##}
{#            <p>#}
{#                <label>Faculty Contact:</label>#}
{#                <a class="extra"#}
{#                   href="{% url "faculty-detail" object.faculty.id %}">{{ object.faculty.full_name }}</a><br>#}
{##}
{#                <label>Faculty Email:</label>#}
{#                <a href="mailto:{{ seminar.faculty.email }}">{{ object.faculty.email }}</a><br>#}
{#            </p>#}
{#<br>#}
{#        </div>#}
{##}
{#        {% if object.seminar_events.all %}#}
{#            <div id="seminar_list">#}
{##}
{##}
{#                {% for event in object.seminar_events.all %}#}
{#                    <div class="row">#}
{#                        <div class="col-lg-2 col-md-2 ">#}
{#                            <div class="panel panel-primary" style="text-align: center">#}
{#{% extends "base.html" %}#}
{##}
{#{% block Main_Web_Header_Title %}#}
{#    {{block.super}} | {{object.quarter}} | Seminars - EPSS {{object.course_number}} {{object.title}}#}
{#{% endblock%}#}
{##}
{#{% block breadcrumb %}#}
{#    {{block.super}} > <a href="/seminars/">Seminars</a> > <a href="/seminars/{{object.quarter.slug}}/">{{object.quarter}}</a> > {{object.title}}#}
{#{% endblock%}#}
{##}
{#{% block content %}#}
{#<div class="content-wrapper">#}
{#    <div id="main_seminar">#}
{#        <div class="page-header">#}
{#            <h2>ESS {{object.course_number}} - {{object.title}} ({{object.quarter}})</h2>#}
{#        </div>#}
{##}
{#        <p>{{object.description}}</p>#}
{#        <p>#}
{#            <label>Faculty Contact:</label>#}
{#            <a class="extra" href="{% url "faculty-detail" object.faculty.id %}">{{object.faculty.full_name}}</a><br>#}
{##}
{#            <label>Faculty Email:</label>#}
{#            <a href="mailto:{{seminar.faculty.email}}">{{object.faculty.email}}</a><br>#}
{##}
{#    </div>#}
{#{% if object.seminar_events.all %}#}
{#    <div id="seminar_list">#}
{#        <table class="table table-bordered table-responsive table-striped">#}
{#            <tr><th>Date</th><th>Speaker, Institute</th><th>Title</th></tr>#}
{#            {% for event in object.seminar_events.all %}#}
{#            <tr><td>{{event.date}}</td>#}
{#                <td>#}
{#                    {% for speaker in event.seminarspeaker_set.all%}#}
{#                        {% if last%}#}
{#                            {% if speaker.url%}#}
{#                                <a href="{{speaker.url}}">{{speaker.name}} - {{speaker.institute}}</a>#}
{#                            {% else %}#}
{#                                {{speaker.name}} - {{speaker.institute}}#}
{#                            {% endif%}#}
{#                        {% else %}#}
{#                            {% if speaker.url%}#}
{#                                <a href="{{speaker.url}}">{{speaker.name}} - {{speaker.institute}} </a><br>#}
{#                            {% else %}#}
{#                                {{speaker.name}} - {{speaker.institute}}<br>#}
{#                            {%endif%}#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </td>#}
{##}
{#                <td><a href="{% url 'seminar-event-detail' object.quarter.slug object.slug event.slug event.pk %}">{{event.title}}</a></td>#}
{#            </tr>#}
{##}
{#            {% endfor%}#}
{#        </table>#}
{#    </div>#}
{#{% else %}#}
{#    <h2>Seminar Schedule Coming soon</h2>#}
{#{% endif %}#}
{#</div>#}
{#{% endblock %}#}
{#                                <div class="panel-heading">#}
{#                                    <h4>{{ event.date|date:'N' }}</h4>#}
{#                                </div>#}
{##}
{#                                <div class="panel-body">#}
{#                                    <h4>{{ event.date|date:'j ' }}</h4>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                            {% if event.gcal_html_link %}#}
{##}
{#                                    <a href="{{ event.gcal_html_link }}" class="btn btn-primary center-block"> Add to my calendar</a>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                        <div class="col-lg-10 col-md-10 ">#}
{##}
{#                            <h4>#}
{#                                <a href="{% url 'seminar-event-detail' object.quarter.slug  object.slug  event.pk %}">{{ event.title }}</a>#}
{#                            </h4>#}
{##}
{##}
{#                            {% for speaker in event.seminarspeaker_set.all %}#}
{#                                {% if last %}#}
{#                                    {% if speaker.url %}#}
{#                                        <a href="{{ speaker.url }}">{{ speaker.name }} - {{ speaker.institute }}</a>#}
{#                                    {% else %}#}
{#                                        {{ speaker.name }} - {{ speaker.institute }}#}
{#                                    {% endif %}#}
{#                                {% else %}#}
{#                                    {% if speaker.url %}#}
{#                                        <a href="{{ speaker.url }}">{{ speaker.name }} - {{ speaker.institute }} </a>#}
{#                                        <br>#}
{#                                    {% else %}#}
{#                                        {{ speaker.name }} - {{ speaker.institute }}<br>#}
{#                                    {% endif %}#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                            <br>#}
{#                            <p style="padding: 5px;">#}
{#                                {{ event.description }}#}
{#                            </p>#}
{##}
{##}
{#                        </div>#}
{#                    </div>#}
{#                    <hr>#}
{##}
{#                {% endfor %}#}
{#            </div>#}
{##}
{##}
{#        {% else %}#}
{#            <h2>Seminar Schedule Coming Soon</h2>#}
{#        {% endif %}#}
{#    </div>#}
{#{% endblock %}#}