{% extends "base.html" %}

{% block Main_Web_Header_Title %} {{ block.super }} | Seminars and Lectures{% endblock %}

{% block breadcrumb %}
    {{ block.super }} > Seminars and Lectures
{% endblock %}

{% block page_title %}

{% endblock %}

{% block content %}
    <div class="content-wrapper">


                <div class="page-header">
                    <h2>Seminars & Talks</h2>
                </div>
            <div class="row" id="seminar" >
                {% for obj in object_list %}
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                <a class='' href="{% url 'seminar-category-index' obj.slug %}"><h4>{{ obj.title }}</h4>
                                </a>


                                <p>{{ obj.description }}</p>
                                <a class="" href="{% url 'seminar-category-index' obj.slug %}"><img class="img-rounded img-responsive"
                                                                                                    src="{{ obj.seminar_image.url }}">
                                </a>
 </div>

                {% endfor %}

            </div></div>
{% endblock %}