{% extends "base.html" %}

{% block Main_Web_Header_Title %} {{block.super}} | Seminars | {{quarter}} {% endblock%}


{% block breadcrumb %}
    {{block.super}} > <a href="/seminars">Seminars</a> > {{quarter}}
{% endblock%}

{% block page_title %}
        <h2>Seminars</h2>
{% endblock %}

{% block content %}
<div class="content content-wrapper">
    <div class="'page-header">
        <h2>Seminars - {{ quarter }}</h2>

    </div>
	<div id="seminar" class="row">

        {%if object_list %}
		{% for seminar in object_list %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="seminar-category">
    				<h5>{{seminar.title}}</h5>
    	        	<a href="{% url 'seminar-event-index' seminar.quarter.slug seminar.slug %}">
                        <img class="img-rounded img-responsive" src="{{seminar.seminar_image.image.url}}" alt="{{seminar.title}}"/>
                    </a>
	            </div><!-- .seminar_single-->
            </div>
        {% endfor %}
        {% else %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                <div class="panel-heading"><h4 style="text-transform: none;">We're sorry!</h4></div>
                    <div class="panel-body">
                        <p></p>
                    <p>We don't have the schedule finalized yet. Please check back periodically.</p>
                    </div>
                </div>
            </div>
        {%endif%}
    </div><!-- #seminars-->
</div>
{% endblock %}