{% extends "base.html" %}


{% block content %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <div id="main_seminar">
                    <div class="page-header">
                        <h2>{{ view.category.title }} - {{ view.kwargs.quarter }}</h2>
                        <a class='btn btn-default' style="margin-bottom: 15px;"
                           href="/seminars/{{ view.kwargs.category }}/archive/">  {{ view.category.title }}
                            Archives</a><br>
                    </div>


                    {% for seminar in object_list %}
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <a href="/seminars/{{ view.kwargs.category }}/{{ view.kwargs.quarter }}/{{ seminar.id }}">
{#                                    <h3>{{ seminar.title }}</h3>#}
                                <h3>
                {% for speaker in seminar.seminarspeaker_set.all %}
                                            {% if last %}
                                                {% if speaker.url %}
                                                    {{ speaker.name }} -
                                                    {{ speaker.institute }}
                                                {% else %}
                                                    {{ speaker.name }} -
                                                    {{ speaker.institute }} &
                                                {% endif %}
                                            {% else %}
                                                {% if speaker.url %}
                                                    {{ speaker.name }} -
                                                    {{ speaker.institute }}
                                                {% else %}
                                                    {{ speaker.name }} - {{ speaker.institute }}<br>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
</h3>

                                </a>
                            </div>

                            <div class="panel-body">
                                <div class="col-sm-3">
                                    <h3>{{ seminar.date }}</h3>
                                    {{ seminar.time_start }} - {{ seminar.time_end }}<br>
                                    {{ seminar.location }}<br>

                                    <p>Presented By:
                                        {% for speaker in seminar.seminarspeaker_set.all %}
                                            {% if last %}
                                                {% if speaker.url %}
                                                    <a href="{{ speaker.url }}">{{ speaker.name }} </a> <br>
                                                    {{ speaker.institute }}
                                                {% else %}
                                                    {{ speaker.name }} <br> {{ speaker.institute }} &
                                                {% endif %}
                                            {% else %}
                                                {% if speaker.url %}
                                                    <a href="{{ speaker.url }}">{{ speaker.name }} </a> <br>
                                                    {{ speaker.institute }}
                                                {% else %}
                                                    {{ speaker.name }},  <br> {{ speaker.institute }}<br>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}

                                    </p>
                                    <a href="{{ seminar.gcal_html_link }}" class="btn btn-primary"
                                       style="margin-top: 10px;">See Event on Google. </a><br>
                                    <a href="{{ seminar.seminar_category.gcal_subscription_link }}" class="btn btn-info"
                                       style="margin-top: 10px;">Subscribe to Calendar</a>
                                </div>

                                <div class="col-sm-9">

                                    {% if seminar.video_link %}
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embded-responsive-item"
                                                    src="https://youtube.com/embed/{{ seminar.video_link }}"
                                                    frameborder="0" allow="autoplay; encrypted-media"
                                                    allowfullscreen></iframe>
                                        </div>
                                    {% endif %}
                                    <h4>{{ seminar.title }}</h4>

                                    {% if seminar.description %}
                                        <p>{{ seminar.description }}</p>
                                    {% else %}
                                        <h5>Seminar Description coming soon.</h5>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
{% endblock %}