{% extends "base.html" %}

{% block Main_Web_Header_Title %} {{ block.super }} | News - {{ object.title|truncatewords:4 }} {% endblock %}

{% block breadcrumb %}
    {{ block.super }} > <a href="/news/">News</a> > {{ object.title|truncatewords:4 }}
{% endblock %}


{% block content %}
<div class="content-wrapper news">
    <div class="row">
        <div class="col-lg-9 border-right">
	        <div class="page-header">
	            <h3>News</h3>
	        </div>

	           <div class="panel panel-default">
				<div class="panel-heading no-padding">
					<h2 class="no-padding no-uppercase">{{object.title}}</h2>
					<h4><span class="label label-primary">Posted on {{object.published}}</span></h4>
				</div>
				<div class="panel-body">
					{% if object.picture %}
						<p><img class="img-responsive img-rounded" src="http://placehold.it/350x350" alt="default blog image placeholder" /></p>
					{% endif %}
					<p>{{object.body}}</p>

				</div>

                {%  if object.tags %}
                    <div class="small">Tags:
                        {{  object.get_tags }}</div>

                {% endif %}

			</div>
		</div>

        <div class="col-lg-3 col-md-9 hidden-xs hidden-sm">

            <div class="row">
            	<div class="col-xs-12 ">
                    <div class="page-header"><h3>Recent Stories</h3></div>
	            	{% load blog_tags %}
	            	{% get_recent_stories %}
                    <div class="page-header">  <h3>Featured Stories</h3></div>
                    {% get_featured_stories %}
	        	</div>
	        </div>

        </div>
    </div>
</div>

{% endblock %}