{% extends "base.html" %}
{% load staticfiles %}
{% block Main_Web_Header_Title %} {{ block.super }} | News {% endblock %}

{% block extra_header %}
    <link rel="stylesheet" href="{%  static "/main/css/bootstrap/news.css"%}" type="text/css"/>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }} > News
{% endblock %}

{% block content %}
    <div class="content-wrapper news">
        <div class="row">

            <div class="col-md-9 border-right">
                <div class="page-header">
                    <h3>News</h3>
                </div>
                {% for post in object_list %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  img-wrapper">
                                    {% if post.listing_picture %}
                                        <img class="img-responsive img-rounded" src="{{ post.listing_picture.url }}" alt=" image for '{{ post.slug }}' item"/>
                                    {% else %}
                                        <img class="img-responsive img-rounded"
                                             src="{% static "/main/images/banners/ucla-default-news.png"%}" alt="default news item image placeholder" />
                                    {% endif %}
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4>
                                                <a href="{% url 'entry-detail' post.slug post.id %}">{{ post.title }}</a>
                                            </h4>
                                            <h4><span class="label label-primary"><small>Posted on {{ post.published }}</small></span>
                                            </h4>

                                        </div>
                                        <div class="panel-body">
                                            <p>{{ post.body|truncatewords_html:35 }}</p>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <hr class="divider">
                        </div>

                    </div>
                {% endfor %}
            </div>


            <div class="col-lg-3 col-md-3 hidden-xs hidden-sm">

                <div class="row">
                    <div class="col-xs-12 ">
                        <div class="page-header"><h3>Recent Stories</h3></div>
                        {% load blog_tags %}
                        {% get_recent_stories %}
                        <div class="page-header"><h3>Featured Stories</h3></div>
                        {% get_featured_stories %}
                    </div>
                </div>

            </div>
        </div>

        {% if is_paginated %}
            <ul class="pager">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}