{% extends "base.html" %}
{%  load staticfiles %}
{% block Main_Web_Header_Title %} {{block.super}} | Research Areas {% endblock%}

{% block extra_header %}
<link rel="stylesheet" href="{% static "/main/css/bootstrap/research-area.css" %}" type="text/css"/>
{% endblock %}

{% block breadcrumb %}
{{block.super}} > Research
{% endblock%}

{% block content %}
<div id="research-area">
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
            <ul class="quicklinks nav nav-stacked">
                {% for research_area in object_list %}
                <li><a href="{{research_area.slug}}">{{research_area.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            <div class="content content-wrapper">
                <div class="page-header">
                    <h2>Research Areas</h2>
                </div>
                <div class="row">
                    {% for research_area in object_list %}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="{{research_area.slug}}">

                            <img class="img-responsive img-rounded" src="{{research_area.image.url}}" alt="photo for {{ research_area.name }} research area">

                        </a>
                        <p><b><a href="{{research_area.slug}}">{{research_area.name}}</a></b></p>
                        <p>{{research_area.details|truncatewords:35}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}