<!DOCTYPE HTML>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/media/css/main.css" type="text/css" />
</head>
<body style="text-align:center;">
    <a href="http://www.epss.ucla.edu/"><img width ="800" src="/media/images/oatmeal_tumbeasts/ess_banner.png"/></a>
    <img width="500" src=""/>
    <p>Shoot! we messed up. <br>
       Click here to go back. <a class="btn btn-primary" href="http://www.epss.ucla.edu">Home</a></p>
</body>
</html>