[Unit]
Description=uWSGI Emperor

[Service]
ExecStart=/bin/bash -c 'uwsgi --emperor /etc/uwsgi/vassals --uid www-data --gid www-data --daemonize /var/log/uwsgi-emperor.log'



[Install]
WantedBy=multi-user.target